## Loops

### FOR LOOP

In [2]:
fruits=["apple","mango","peach"]
for fruit in fruits:
    print(fruit)
    print(fruit + "Pie")

apple
applePie
mango
mangoPie
peach
peachPie

In [5]:
## Avg_height

heights=[180,124,165,173,189,169,146]
total = 0
count = 0

for height in heights :
    total = total + height
    count = count + 1
    
    average = total /count
print("Average Student Height = ",round(average))

Average Student Height =  164

In [13]:
## Highest Score

scores = [45,78,92,65,53,50,98]

max_score=0
for score in scores:
    if score > max_score:
        max_score = score
print(max_score)

98

In [10]:
## Lowest Score

l = [45,78,92,65,53,50,98,2]

min_score= l[0]
for i in range(1,len(l)):
    if l[i] < min_score:
        min_score = l[i]
print(min_score)

2

In [13]:
## Program that include the sum of all even number from 1 to 100 including 1 and 100

sum_of_even = 0
for num in range(1,101):
    if num % 2 == 0:
        sum_of_even = sum_of_even + num
        
print(sum_of_even)

2550

In [17]:
total = 0 
for i in range(2,101,2):
    total += i
print(total)

2550

In [32]:
## FIZZ BUZZZ

for num in range(1,101):
    if (num % 3 == 0) and (num % 5 == 0):
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Buzz")
    elif num % 5 == 0:
        print("Fizz")
    else:
        print(num)

1
2
Buzz
4
Fizz
Buzz
7
8
Buzz
Fizz
11
Buzz
13
14
FizzBuzz
16
17
Buzz
19
Fizz
Buzz
22
23
Buzz
Fizz
26
Buzz
28
29
FizzBuzz
31
32
Buzz
34
Fizz
Buzz
37
38
Buzz
Fizz
41
Buzz
43
44
FizzBuzz
46
47
Buzz
49
Fizz
Buzz
52
53
Buzz
Fizz
56
Buzz
58
59
FizzBuzz
61
62
Buzz
64
Fizz
Buzz
67
68
Buzz
Fizz
71
Buzz
73
74
FizzBuzz
76
77
Buzz
79
Fizz
Buzz
82
83
Buzz
Fizz
86
Buzz
88
89
FizzBuzz
91
92
Buzz
94
Fizz
Buzz
97
98
Buzz
Fizz

### WHILE LOOP

In [1]:
count = 0
while count < 5:
    print("hye aman")
    count +=1

hye aman
hye aman
hye aman
hye aman
hye aman

In [4]:
count = 5
while count > 0:
    print("hye aman")
    count -= 1

hye aman
hye aman
hye aman
hye aman
hye aman

In [7]:
num = int(input("enter the number: "))
fact = 1
for i in range(1,num+1):
    fact = fact*i
print(fact)

enter the number: 4
24

In [8]:
n=4
while n>=1:
    print(n)
    n -= 1

4
3
2
1